$color__background-body: #e8e8e8;
$color__background-screen: #f5f7f8;
$color__background-hr: #ffd046;
$color__background-button: #087f66;
$color__background-element: #087f66;
$color__background-element-sec: #52225c;
$color__background-button-sec: #2676a5;
$color__background-button-hover: #222;
$color__background-pre: #f5f7f8;
$color__background-ins: #fff9c0;
$color__background-black: #000;
$color__background-white: #fff;

$color__text-light: #fff;
$color__text-input: #434343;
$color__text-input-focus: #434343;
$color__link: #087f66;
$color__link-visited: #087f66;
$color__link-hover: #434343;
$color__text-main: #434343;

$color__border-table: #f5f7f8;
$color__border-input: #087f66;
$color__border-input-focus: #222;
$color__border-light: #fff;
